
body { font-family: 'Courier New', Courier, monospace; background: #112d11; color: #fff; }
.top-bar, .nav-bar { background: #27d158; padding: 10px; }
.logo img { width: 32px; vertical-align: middle; }
.stats, .latest-info { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 10px 0;}
.box { border: 2px solid #27d158; background: #182618; padding: 16px; margin: 10px; min-width: 260px; min-height: 80px; flex: 1; }
.latest-block, .latest-tx { border: 2px solid #27d158; background: #182618; padding: 16px; margin: 10px; min-width: 350px; min-height: 180px; flex: 1; }
select, input, button { font-family: inherit; }
::-webkit-scrollbar { width: 0; }
